<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
     {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static '/users/css/index.css' %}">

</head>
<body>
     <div class="header">
        <div class="container">

        </div>
    </div>

     <div class="main">
         <div class="container">
             <div class="form">
                 <form action="" method="post" >{% csrf_token %}
                     <div class="form-title">Регистрация</div>
            <div>
                <span class="title">имя пользователя:</span>
                <span class="inpt">{{ reg_form.username }}</span>
            </div>
            <div>
                <span class="title">email:</span>
                <span class="inpt">{{ reg_form.email }}</span>
            </div>
            <div>
                <span class="title">пароль:</span>
                <span class="inpt"> {{ reg_form.password1 }}</span>
            </div>
            <div>
                <span class="title">подтвердите пароль:</span>
                <span class="inpt"> {{ reg_form.password2 }}</span>
            </div>
            <button type="submit" class="btn btn-outline-danger">зарегистрироваться</button>
        </form>

             </div>
         </div>
         <div class="errors"><span>
             {{ reg_form.errors.as_text }}
         </span></div>
     </div>

</body>
</html>