<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    {% load static %}
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'users/css/login.css' %}"
    />
    <title>Title</title>
  </head>
  <body class="login-page">
    <div class="header">
      <div class="container">
        <div class="logo">
          <span><a href="">Like</a></span>
          <span><a href="">spotify</a></span>
        </div>
        <div class="auth">

          <p><a href="/users/registration/">registration</a></p>
        </div>

      </div>
    </div>
    <div class="main">
      <div class="container">
        <div class="form">
          <form action="/users/login/" method="post">
            {% csrf_token %}
            <div>
              <span class="title">логін:</span>
              <span class="inpt"> {{ loginform.username }}</span>
            </div>
            <div>
              <span class="title">пароль:</span>
              <span class="inpt">
                {{ loginform.password }}
                <span class="show-pass">
                  <svg
                    version="1.1"
                    xmlns="http://www.w3.org/2000/svg"
                    width="32"
                    height="32"
                    viewBox="0 0 32 32"
                  >
                    <title>eye</title>
                    <path
                      d="M16 6c-6.979 0-13.028 4.064-16 10 2.972 5.936 9.021 10 16 10s13.027-4.064 16-10c-2.972-5.936-9.021-10-16-10zM23.889 11.303c1.88 1.199 3.473 2.805 4.67 4.697-1.197 1.891-2.79 3.498-4.67 4.697-2.362 1.507-5.090 2.303-7.889 2.303s-5.527-0.796-7.889-2.303c-1.88-1.199-3.473-2.805-4.67-4.697 1.197-1.891 2.79-3.498 4.67-4.697 0.122-0.078 0.246-0.154 0.371-0.228-0.311 0.854-0.482 1.776-0.482 2.737 0 4.418 3.582 8 8 8s8-3.582 8-8c0-0.962-0.17-1.883-0.482-2.737 0.124 0.074 0.248 0.15 0.371 0.228v0zM16 13c0 1.657-1.343 3-3 3s-3-1.343-3-3 1.343-3 3-3 3 1.343 3 3z"
                    ></path>
                  </svg>
                </span>
              </span>
            </div>
            <button type="submit" class="btn">войти</button>
          </form>
        </div>
      </div>
      <div class="errors"><span> {{loginform.errors.as_text}} </span></div>
    </div>
    <script>
      const showPass = document.querySelector(".show-pass");
      const inputPass = document.querySelector("#id_password");
      showPass.addEventListener("click", () => {
        if (inputPass.getAttribute("type") === "password") {
          inputPass.setAttribute("type", "text");
        } else {
          inputPass.setAttribute("type", "password");
        }
        showPass.classList.toggle("active");
      });
    </script>
  </body>
</html>
