<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'users/css/login.css' %}">
    <title>Title</title>
</head>
<body>

<div class="header">
    <div class="container">

    </div>
</div>
<div class="main">
    <div class="container">
        <div class="form">
           <form action="/users/login/" autocomplete="off" method="post" >{% csrf_token %}
            <div>
                <span class="title">логин:</span>
                <span class="inpt"> {{ loginform.login }}</span>
            </div>
            <div>
                <span class="title">пароль:</span>
                <span class="inpt">{{ loginform.password }}</span>
            </div>
               <button type="submit" class="btn">войти</button>
            </form>
        </div>

    </div>
    <div class="errors"><span>
             {{ reg_form.errors.as_text }}
         </span></div>
</div>

</body>
</html>