<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static '/users/css/profile.css' %}">
    <title>Title</title>
</head>
<body>
    {% if user.is_authenticated %}
    <div class="header">
        <div class="container">
            <div class="auth"><p><a href="/users/logout/">Log Out</a></p>
            </div>
            <p>Добро пожаловать: {{ user.username }}</p>
        </div>

    </div>
   <div class="main">
       <div class="container">
            <div class="side-bar" >
                <ul class="side-bar-menu">
                    <li><a href="/playlists/home/">Главная</a></li>
                    <li><a href="/playlists/page/album/">создать альбом</a></li>
                     <li><a href="/playlists/search/">поиск</a></li>
<!--                    <li><a href="#"></a></li>-->
<!--                    <li><a href="#"></a></li>-->
<!--                    <li><a href="#"></a></li>-->
               </ul>
            </div>

           <div class="albums" >
                <div class="current-album">
                     {% for album in albums %}
                    <div class="album-left">

                          {% if album.image %}
                           <img height="150px" width="150px" src="{{album.image.url}}" alt="">
                          {% endif %}
                          {% if album.id in share_albums_ids %}
                                    <span><small>creator:{{album.creator}}</small></span>
                             {% endif %}
                        {% if not album.id in share_albums_ids %}
                                <span><small><a href="/playlists/edit/album/{{album.id}}/">редактировать</a></small></span>

                             {% endif %}
                    </div>
                    <div class="album-right">
                        <span class="album-right-title"><a href="/playlists/current/album/{{album.id}}">{{ album.name }} ({{ album.song_set.all|length }})</a></span>
                         {% for singer in album.singer.all %}
                          <span>{{album.year }}</span>
                           <span>{{album.type}}</span>
                               <span>{{ singer}} </span>
                             {% if album.id in share_albums_ids %}
                                    <span style="visibility:hidden" ><small><a href="/playlists/delete/current/album/{{album.id}}/">удалить</a></small></span>
                                    <span style="visibility:hidden" ><small><a href="/playlists/album/song/{{album.id}}">+ песню</a></small></span>
                             {% endif %}
                             {% if not album.id in share_albums_ids %}
                                <span><small><a href="/playlists/delete/current/album/{{album.id}}/">удалить</a></small></span>
                                <span><a href="/playlists/album/song/{{album.id}}"><span>+</span></a></span>
                             {% endif %}
<!--                          <span><small><a href="/playlists/take/album/{{album.id}}/">забрать альбом</a></small></span>-->
                         {% endfor %}
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
   </div>
   <div class="footer">
       <div class="container">

       </div>
   </div>

   {% endif %}
</body>
</html>