<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static '/users/css/profile.css' %}">
    <title>Title</title>
</head>
<body>
    {% if user.is_authenticated %}
    <div class="header">
        <div class="container">
            <p>Добро пожаловать: {{ profile.user.username }}</p>
        </div>

    </div>
   <div class="main">
       <div class="container">
            <div class="side-bar" >
                <ul class="side-bar-menu">
                    <li><a href="#">Главная</a></li>
                    <li><a href="/playlists/page/album/">создать альбом</a></li>
                     <li><a href="/playlists/search/">поиск</a></li>
<!--                    <li><a href="#"></a></li>-->
<!--                    <li><a href="#"></a></li>-->
<!--                    <li><a href="#"></a></li>-->
               </ul>
            </div>

           <div class="albums" >
                <div class="current-album">
                    <div class="album-left">
                        {% for album in albums %}
                          {% if album.image %}
                           <img height="150px" width="150px" src="{{album.image.url}}" alt="">
                          {% endif %}
                    </div>
                    <div class="album-right">
                        <span class="album-right-title"><a href="/playlists/current/album/{{album.id}}">{{ album.name }} ({{ album.song_set.all|length }})</a></span>
                         {% for singer in album.singer.all %}
                          <span>{{album.year }}</span>
                           <span>{{album.type}}</span>
                               <span>{{ singer}} </span>
                          <span><small><a href="/playlists/album/song/{{album.id}}">загрузить песню</a></small></span>
                         {% endfor %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
   </div>
   <div class="footer">
       <div class="container">
           footer
       </div>
   </div>

   {% endif %}
</body>
</html>