<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    {% load static %}
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static '/users/css/album_detail.css' %}"
    />
    <title>Title</title>
  </head>
  <body>
    {% if user.is_authenticated %}

    <div class="header">
      <div class="container">
        <div class="burger"><span></span><span></span><span></span></div>
        <div class="logo">
          <span><a href="{% url 'home' %}">Like</a></span>
          <span><a href="{% url 'home' %}">spotify</a></span>
        </div>
        <div class="auth">
          <p><a class="text" href="">log out</a></p>
        </div>
        <p>
          Добро пожаловать:
          <a class="text" href="">{{ user.username }}</a>
        </p>
      </div>
    </div>

    <div class="main">
      <div class="album-menu">
        <span>альбомы: </span>
        <a class="plus" href="/playlists/home/">все</a>
        <a class="plus" href="/playlists/home/?key=my">мои</a>
        <a class="plus" href="/playlists/home/?key=add">добавленные</a>
      </div>
      <div class="container">
        <div class="music">
          {% for song in query_set %}

          <div class="song">
            <div class="counter">
              <small>{{ forloop.counter }}.</small>
            </div>
            <div class="audio">
              <span> <small>{{ song.name }}</small></span>
              <audio class="music-item" controls>
                <source src="{{ song.song.url }}" type="audio/mpeg" />
              </audio>
              <div class="song-btn">
                {% if nick == creator %}
                <a
                  class="text"
                  href="/playlists/delete/song/{{song.id}}/?n={{albumid}}"
                  ><small>удалить</small></a
                >
                <!-- <small><a class="text" href="/playlists/text/song/{{song.id}}/">текст</a></small> -->
                {% endif %}
              </div>
            </div>
          </div>

          {% endfor %}
        </div>
      </div>
    </div>
    {% endif %}
    <script>
      const burger = document.querySelector(".burger");
      const sideBar = document.querySelector(".side-bar");
      burger.addEventListener("click", () => {
        burger.classList.toggle("active");
        sideBar.classList.toggle("active");
      });
      function albumID(){
        var xhr = new XMLHttpRequest();
        xhr.open('GET', '/dpm/?, false);
        xhr.send();
      }
    </script>
  </body>
</html>
