<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'users/css/create_album.css' %}">
</head>
<body>

    <div class="header">

             <div class="logo">
                <span>Like</span>
                <span>spotify</span>
             </div>

        <div class="container">

        </div>
    </div>


    <div class="main">
        <div class="container">
            <form class="forma" action="/playlists/create/new/album/" enctype="multipart/form-data" method="post">{% csrf_token %}
                <div>
                     <span class="title"> название альбома:</span>
                     <span class="inpt">{{ albumform.name }}</span>
                </div>
                <div hidden>
                   <span class="inpt"> {{ albumform.type }}</span>
                </div>
                <div>
                     <span class="title">год выпуска:</span>
                     <span class="inpt">{{ albumform.year }}</span>
                </div>
                <div>
                    <span class="title">фото для альбома:</span>
                    <span class="title">или оставьте поле пустым</span>
                    <span class="inpt">{{ albumform.image }}</span>
                </div>
                <div>
                    <span class="title">автор альбома:</span>
                    <span class="title">выберите из списка</span>
                    <div class="add-singer">или <a href="/playlists/singer/">добавить исполнителя</a></div>
                    <span class="inpt">{{ albumform.singer }}</span>
                </div>
                <div hidden>
                    <span class="inpt">{{ albumform.user }}</span>
                </div>
                <div hidden>
                    <span class="inpt">{{ albumform.creator }}</span>
                </div>

                <button type="submit" >создать альбом</button>
            </form>
            <div class="errors"><span>
             {{ albumform.errors.as_text }}</span>
             </div>
        </div>
    </div>


</body>
</html>