<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'users/css/style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
</head>
<body>

    <div class="reg">
    <div class="container">
        <p>Альбом</p>
        <form class="forma" action="/playlists/create/new/album/" method="post">{% csrf_token %}
            <div>
                <p>название альбома:</p>
                {{ albumform.name }}
            </div>
            <div hidden>
                {{ albumform.type }}
            </div>
            <div>
                <p>год выпуска:</p>
                {{ albumform.year }}
            </div>
            <div hidden>
                {{ albumform.user }}
            </div>
            <div hidden>

                {{ albumform.creator }}
            </div>

            <button type="submit" class="btn btn-outline-danger">добавить</button>
        </form>
    </div>

</div>

</body>
</html>