<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    {% load static %}
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'users/css/create_album.css' %}"
    />
    <title>Likespotify</title>
  </head>
  <body>
    {% if user.is_authenticated %}
    <div class="header">
      <div class="container">
        <div class="burger"><span></span><span></span><span></span></div>
        <div class="logo">
          <span><a href="{% url 'home' %}">Like</a></span>
          <span><a href="{% url 'home' %}">spotify</a></span>
        </div>
        <div class="auth">
          <p><a class="plus" href="/users/logout/">log out</a></p>
        </div>
        <p>
          Hello:
          <a class="plus" href="">{{ user.username }}</a>
        </p>
      </div>
    </div>

    <div class="main">
      <div class="container">
        <form
          class="forma"
          action="/playlists/edit/album/{{current_album.id}}/"
          enctype="multipart/form-data"
          method="post"
        >
          {% csrf_token %}
          <div>
            <span class="title"> назва альбому:</span>
            <span class="inpt">{{ albumform.name}}</span>
          </div>
          <div hidden>
            <span class="inpt"> {{ albumform.type}}</span>
          </div>
          <div>
            <span class="title">рік створення:</span>
            <span class="inpt">{{ albumform.year }}</span>
          </div>
          <div>
            <span class="title">фото для альбому:</span>
            <span class="title">або залиште поле пустим</span>
            <span class="inpt">{{ albumform.image }}</span>
          </div>
          <div>
            <span class="title">автор альбому:</span>
            <span class="title">виберіть з списку</span>
            <div class="add-singer">
              или <a href="/playlists/singer/">додати виконавця</a>
            </div>
            <span class="inpt">{{ albumform.singer }}</span>
          </div>
          <div hidden>
            <span class="inpt">{{ albumform.user }}</span>
          </div>
          <div hidden>
            <span class="inpt">{{ albumform.creator }}</span>
          </div>

          <button type="submit">зберегти</button>
        </form>
        <div class="errors"><span> {{ albumform.errors.as_text }}</span></div>
      </div>
    </div>

    {% endif %}
    <script>
      const burger = document.querySelector(".burger");
      const sideBar = document.querySelector(".side-bar");
      burger.addEventListener("click", () => {
        burger.classList.toggle("active");
        sideBar.classList.toggle("active");
      });
    </script>
  </body>
</html>
