<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static '/users/css/home.css' %}">
    <title>Home</title>
</head>
<body>

 <div class="header">
     <div class="container">
         <div class="auth"><p><a href=""></a></p>
            </div>
     </div>
 </div>

 <div class="main">
     <div class="container">
         <div class="side-bar" >
                <ul class="side-bar-menu">
                    <li><a href="/playlists/home/">Главная</a></li>
                    <li><a href="/playlists/page/album/">создать альбом</a></li>
                     <li><a href="/playlists/search/">поиск</a></li>
<!--                    <li><a href="#"></a></li>-->
<!--                    <li><a href="#"></a></li>-->
<!--                    <li><a href="#"></a></li>-->
               </ul>
            </div>

     </div>
 </div>

 <div class="footer">
     <div class="container">

     </div>
 </div>

</body>
</html>