<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    {% load static %}
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static '/users/css/search_page.css' %}"
    />
    <title>Likespotify</title>
  </head>
  <body>
    {% if user.is_authenticated %}

    <div class="header">
      <div class="container">
        <div class="burger"><span></span><span></span><span></span></div>
        <div class="logo">
          <span><a href="{% url 'home' %}">Like</a></span>
          <span><a href="{% url 'home' %}">spotify</a></span>
        </div>
        <div class="auth">
          <p><a class="plus" href="/users/logout/">log out</a></p>
        </div>
        <p>
          Hello:
          <a class="plus" href="">{{ user.username }}</a>
        </p>
      </div>
    </div>
    <div class="main">
      <div class="container">
        <div class="side-bar">
          <ul class="side-bar-menu">
            <li><a class="plus" href="/playlists/home/">Головна</a></li>
            <li>
              <a class="plus" href="/playlists/page/album/">створити альбом</a>
            </li>
            <li><a class="plus" href="/playlists/search/">пошук</a></li>
            <!--                    <li><a href="#"></a></li>-->
            <!--                    <li><a href="#"></a></li>-->
            <!--                    <li><a href="#"></a></li>-->
          </ul>
        </div>

        <section>
          <div class="form">
            <form class="search" action="/playlists/search/" method="post">
              {% csrf_token %}
              <input type="search" name="search" placeholder="..." />
              <button>пошук</button>
            </form>
          </div>

          <div class="albums">
            <div class="current-album">
              {% for album in all_albums %}
              <div class="album-item">
                <div class="album-left">
                  {% if album.image %}
                  <img
                    height="150px"
                    width="150px"
                    src="{{album.image.url}}"
                    alt=""
                  />
                  {% else %}
                  <img
                  height="150px"
                  width="150px"
                  src="/media/playlist_images/empty.png"
                  alt=""/>
                  {% endif %}
                  <span><small>creator: {{album.creator}}</small></span>
                </div>
                <div class="album-right">
                  <span class="album-right-title"
                    ><a
                      class="plus"
                      href="/playlists/current/album/{{album.id}}"
                      >{{ album.name }} ({{ album.song_set.all|length }})</a
                    ></span
                  >
                  {% for singer in album.singer.all %}
                  <span>{{album.year }}</span>
                  <span>{{album.type}}</span>
                  <span>{{ singer}} </span>
                  {% endfor %} {% if not album in added_albums %}
                  <small class="tosong-link"
                    ><a
                      class="plus"
                      href="/playlists/take/album/{{ album.id }}/"
                      >забрати альбом</a
                    ></small
                  >
                  {% endif %}
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
        </section>
      </div>
    </div>

    <div class="footer">
      <div class="container"></div>
    </div>

    {% endif %}
    <script>
      const burger = document.querySelector(".burger");
      const sideBar = document.querySelector(".side-bar");
      burger.addEventListener("click", () => {
        burger.classList.toggle("active");
        sideBar.classList.toggle("active");
      });
    </script>
  </body>
</html>
