<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static '/users/css/search_page.css' %}">
    <title>Likespotify</title>
</head>
<body>

{% if user.is_authenticated %}

<div class="header">
    <div class="container">

    </div>
</div>
<div class="main">
    <div class="container">
        <section>
           <div class="form">
              <form class="search" action="/playlists/search/" method="post">{% csrf_token %}
                  <input type="search" name="search" placeholder="...">
              <button>поиск</button>
              </form>
           </div>

          <div class="albums" >
            <div class="current-album">
                    <div class="album-left">
                        {% for album in all_albums %}
                          {% if album.image %}
                           <img height="150px" width="150px" src="{{album.image.url}}" alt="">
                          {% endif %}
                    </div>
                    <div class="album-right">
                        <span class="album-right-title"><a href="/playlists/current/album/{{album.id}}">{{ album.name }} ({{ album.song_set.all|length }})</a></span>
                         {% for singer in album.singer.all %}
                          <span>{{album.year }}</span>
                           <span>{{album.type}}</span>
                               <span>{{ singer}} </span>
                          <span><small><a href="/playlists/album/song/{{album.id}}">загрузить песню</a></small></span>
                         {% endfor %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    </div>

</div>

<div class="footer">
    <div class="container">

    </div>

</div>


{% endif %}

</body>
</html>