<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static '/users/css/search_page.css' %}">
    <title>Likespotify</title>
</head>
<body>

{% if user.is_authenticated %}

<div class="header">
    <div class="container">
        <div class="auth"><p><a href="">Log Out</a></p>
            </div>
            <p>Добро пожаловать: {{ user.username }}</p>

    </div>
</div>
<div class="main">
    <div class="container">

        <section>
           <div class="form">
              <form class="search" action="/playlists/search/" method="post">{% csrf_token %}
                  <input type="search" name="search" placeholder="...">
              <button>поиск</button>
              </form>
           </div>

          <div class="albums" >
            <div class="current-album">
                 {% for album in all_albums %}
                    <div class="album-left">
                          {% if album.image %}
                           <img height="150px" width="150px" src="{{album.image.url}}" alt="">
                          {% endif %}
                            <span><small>creator: {{album.creator}}</small></span>
                    </div>
                    <div class="album-right">
                        <span class="album-right-title"><a href="/playlists/current/album/{{album.id}}">{{ album.name }} ({{ album.song_set.all|length }})</a></span>
                         {% for singer in album.singer.all %}
                          <span>{{album.year }}</span>
                           <span>{{album.type}}</span>
                               <span>{{ singer}} </span>
                          {% endfor %}

                          {% if not album.id in own_albums_ids %}
                            <small class="tosong-link"><a href="/playlists/take/album/{{ album.id }}/">забрать альбом</a></small>
                          {% endif %}

                    </div>
                 {% endfor %}
                </div>
            </div>
          </div>
    </section>
    </div>

</div>

<div class="footer">
    <div class="container">

    </div>

</div>


{% endif %}

</body>
</html>