<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'users/css/singer.css' %}">

    <title>Title</title>
</head>
<body>
{% if user.is_authenticated %}
    <div class="header">
        <div class="container">
            <div class="auth"><p><a href="">Log Out</a></p>
       </div>
            <p>Добро пожаловать: {{ user.username }}</p>

        </div>
     </div>

    <div class="main">
        <div class="container">
            <div class="form">
                <form action="/playlists/singer/" method="post">{% csrf_token %}
                    <div>
                        <span class="title">исполнитель песни:</span>
                        <span class="inpt">{{ singerform.name }}</span>
                    </div>
                <button type="submit">добавить</button>
            </form>

            </div>
        </div>
    </div>
{% endif %}
</body>
</html>