body{
 font-family: Verdana;
}

* {
   box-sizing: border-box;
}

.header {
  height: 100px;
  width: 1200px;
  margin:  0 auto;
  z-index: 10;
  background: #00d5c3;
}

.logo>span{
  display:block;
}
.container{
    width: 1200px;
    margin:  0 auto;
    display: flex;
    justify-content: space-around;
}

.main {
 margin-top:55px;
}

form {
 margin:  0 auto;
}

.title,.inpt{
   display:block;
   margin-bottom: 10px;
}

button, span{
 font-family: Verdana;
}

.inpt >input{
  width: 100%;
  padding: 15px;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

.add-singer {
    margin-bottom: 15px;
}

button{
  margin-top: 10px;
  background: none;
  width: 350px;
  height: 50px;
  border: 1px solid #00d5c3;
  border-radius: 0 4px 0 4px;
}

button:hover {
    background-color: #00d5c3;
    transition-duration: 0.3s;
}

.errors{
 margin-top: 40px;
 display: flex;
 justify-content: center;
}