body{
 font-family: Verdana;
}

* {
   box-sizing: border-box;
}

.header {
  height: 65px;
  width: 1200px;
  margin:  0 auto;
  z-index: 10;
  background: #00d5c3;
}

.container{
    width: 1200px;
    margin:  0 auto;
    display: flex;
    justify-content: space-around;
}

.logo {
  padding-top: 10px;
}

.logo > span> a {
  display: block;
  font-family: Georgia;
  color: white;
  font-weight: 700;
  font-size: 19px;
}

.main {
 margin-top:20px;
}

.side-bar-menu > li {
   list-style:none;
   margin-bottom: 10px;
}

.albums{
     margin-top:60px;
     display: flex;
     justify-content: center;
}

.current-album{
    width:60%;
    display: flex;
    flex-wrap:wrap;
}

.album-left {

   margin-bottom:50px;
   }

.album-right {
    margin-left: 10px;
    margin-right: 20px;
}

.album-right span {
    display:block;
    margin-bottom: 5px;
}

.album-right-title{
   padding-bottom: 5px;
}

.album-left > span {
    display:block;
}
.album-right-down {
   display: flex;
}

/*
bradcrambs
*/
ul.breadcrumb {
  padding: 10px 16px;
  list-style: none;
  background-color: #eee;
}
ul.breadcrumb li {
  display: inline;
  font-size: 18px;
}
ul.breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}
ul.breadcrumb li a {
  color: #0275d8;
  text-decoration: none;
}
ul.breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}
