body{
 font-family: Verdana;
}

* {
   box-sizing: border-box;
}

.header {
  height: 65px;
  width: 1200px;
  margin:  0 auto;
  z-index: 10;
  background: #00d5c3;
}

.container{
    width: 1200px;
    margin:  0 auto;
    display: flex;
    justify-content: space-around;
}
.main {
 margin-top:40px;
}

section{
  display: block;

}

.form > form{
 display:flex;
}

input{
  width: 100%;
  padding: 15px;
  display: inline-block;
  border: none;
  background: #f1f1f1;
  margin: 0 15px;
}

button{
  background: none;
  width: 155px;
  height: 55px;
  border: 1px solid #00d5c3;
  border-radius: 0 4px 0 4px;
}

button:hover {
    background-color: #00d5c3;
    transition-duration: 0.3s;
}

.albums{
    margin: 55px 0;


}
.current-album {
    display: flex;
}

.album-right {
    margin: 0 15px;
}

.album-right span {
    display:block;
    margin-bottom: 5px;
}

.album-right-title{
   padding-bottom: 5px;
}




