body {
    font-size: 1rem;
}
.reg {
    padding-top: 15px;
}
.forma > div> p {
    margin: 0;

}
.btn {
    margin: 5px 0;
}
.nav-link{
    color:black;
}

.nav-link:hover {
    color: #f6081c;
    font-size: 102%;
    text-decoration: underline;
}

.pass {
    height: 60px;
}

.back-link a {
    display: block;
    margin-bottom: 5px;
}

.load {
    margin-top: 3px;

}

.current-album {
    margin-top: 15px;

}
.current-album > p {
    margin-bottom: 0;
}

.music-item,.tosong-link {
    display: block;
    margin-top: 10px;
}
.delete-link > a {
    display: block;
}

.all-albums {
    margin-top: 20px;
}

.album{
    margin-top: 5px;
}

.album  .general-page {
    margin-top: 20px;
}

.left-side {
    padding-top: 15px;
}

.curr-album{
    margin-top: 20px;
}

.current-album >p {
    margin: 0;
}

.create-menu {
    display: flex;
}
.create-menu > a {
    margin-right: 10px;
}

.m-d {
    margin-top: 5px;
}
